*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body, .container, .input-form, .input-and-save-block, .tag-item, .btn-delete{
  display:flex;
}

body{
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto',
  sans-serif;
  font-size: 18px;
  background-color: #0FF;
}

.container{
  flex-direction: column;
  width:500px;
}

.input-form, .tags-area{
  width:100%;
}

.input-form{
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-and-save-block{  
  margin-right: auto;
  width:70%;
}

.readonly-switch-block{
  width:25%;
  text-align: right;
}

.text-input{
  margin-right: 15px;
  padding:5px;
  font-size: 18px;
  border:none;
  border-radius: 5px;
}

button{  
  border:none;
  outline: none;
  cursor:pointer;
}

.btn-save{ 
  padding:5px 20px;
  color:#FFF;
  font-size: 18px;
  border-radius: 10px;
  background-color: #90EE90;
  transition:background-color 1s;
}

.btn-save:hover{
  background-color: #A5C451;
}

.readonly-switch-block{
  padding:5px;
  color:#FFF;
}

label{
  color:#FFF;
  font-weight: normal;
  transition: all 1s;
  cursor:pointer;
}

label:hover{
  color: #BA4E3B;
  font-weight: bold;
}

.tags-area{
  padding:15px;
  background-color: #90EE90;
  border-radius:10px;
}

li{
  list-style: none;
}

.tag-item{  
  justify-content: center;
  margin-bottom: 10px;
  padding:10px;
  background-color: #FFF;
  border-radius: 10px;
}

.tag-item:last-child{
  margin-bottom:0;
}

.tag-text{
  margin-right: auto;
  width:80%;
}

.btn-delete{
  align-items: center;
  justify-content: center;
  width:20px;
  height:20px;
  border:1px solid #83A2C4;
  border-radius: 50%;
  transition: all 1s;
}

.btn-delete:hover{
  transform: rotate(180deg);
}

.btn-delete-icon{
  max-width: 70%;
}

@media(max-width:520px) {
  .container {
    width: 100%;
  }

  .input-form{
    flex-direction: column;
  }

  .input-and-save-block{
    justify-content: center;
    margin: 0 auto;
    width: 95%;
  }

  .btn-save{
    padding: 5px 10px;
  }

  .readonly-switch-block{
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .tags-area{
    width: 95%;
    margin: 0 auto;
  }
}